 * {
     margin: 0;
     padding: 0;
     border: 0;
 }



 /* header section****************************************************************************** */

 main {
     padding-top: 55px;
 }


 .logo {
     width: 70px;
     height: 50px;
 }

 .cartTotal {
     position: relative;
     right: 50px;
     bottom: 15px;
 }

 .navbar {

     position: fixed;
     z-index: 5;
     width: 100%;
     margin-bottom: 100px;
 }

 .titulo {
     color: rgb(0, 126, 48);
     margin-left: 25%;
     font-weight: bolder;
 }


 .carousselImgSize {

     width: 100%;
     height: 400px;
     object-fit: cover;

 }

 #navbarNav {
     position: relative;
 }

 .finalizar_btn {
     position: absolute;
     right: 5%;
     bottom: 10%;
 }

 /* Features section ****************************************************************/
 .featuresTop {
     padding-top: 100px;
     padding-bottom: 100px;
     text-align: center;

 }

 #features {
     background-color: #6effab;
 }

 /* Usuarios API CALL!! ------------------------------------------------------ */


 #usuarios {
     padding: 50px;
 }


 .userHeader {
     font-size: 2rem;
     padding-bottom: 30px;
 }

 .usersHeaderEnd {
     padding: 50px;
     text-align: center;
     font-size: 2rem;
 }

 .users {
     margin: 10px;
     margin-left: auto;
     margin-right: auto;
     font-size: smaller;
     color: #fff;
     border: solid 3px lightgray;
     border-radius: 5%;
 }

 /* formulario seection******************************************************** */

 .formulario {
     background-color: rgb(0, 126, 48);
     color: #fff;
     text-align: left;
     padding: 30px 30px;
     line-height: 35px;
 }


 form {
     color: #fff;
 }

 /* **RESPONSIVE - form*******/


 @media (max-width:766px) {

     .formulario {
         text-align: center;
     }

 }



 /* cards section******************************************************************* */

 .stockHeader {
     text-align: center;
     font-size: 2rem;
 }

 #cards {
     padding: 20px;
     padding-top: 40px;
     background-color: rgb(110, 255, 171);


 }

 .contenedor-style {
     color: black;
     justify-content: center;
     align-items: center;
     padding: 25px 0;

 }

 .cardStyle {
     margin: 15px;

 }

 .imgStyle {
     padding-top: 10px;
     width: auto;
     height: 200px;
 }

 #searchBar {
     background-image: url('/img/icons/searchIcon.png');
     background-size: contain;
     background-repeat: no-repeat;
     width: 50%;
     font-size: 16px;
     padding: 12px 20px 12px 60px;
     border: 2px solid rgb(158, 157, 157);
     border-radius: 20px;
     margin-bottom: 12px;

 }




 /* cart section *************************************************************/


 #carrito {
     padding: 50px;
 }

 .carritoStyle {
     margin-left: auto;
 }



 .priceAlignment {
     position: absolute;
     right: 100px;
 }

 .cartDiv {
     position: relative;
     width: 50%;
     height: 100px;

 }

 .cartImg {
     right: 0%;
     bottom: 5px;
 }

 .imgCartDiv {
     margin-right: 50px;
     text-align: center;
 }

 .imgCart {
     padding-top: 10px;
     min-width: 200px;
     height: 90%;

 }

 .card-body {
     text-align: center;
 }

 .btnContainer {
     position: relative;
     margin-bottom: 50px;
 }

 .emptyBtn {
     display: inline-block;
 }

 .endBtn {
     display: inline-block;
     position: absolute;
     right: 50px;
 }

 /****RESPONSIVE-cart************/


 @media (max-width:650px) {

     .emptyBtn {
         text-align: center;
         display: block;
         padding: 30px;
     }

     .endBtn {
         text-align: center;
         display: block;
         position: static;
     }

 }



 /* footer ************************************************************/

 .containerFooter {
     position: absolute;
     left: 50%;
     bottom: 0;
     width: 100%;
 }

 .footerEnd {
     position: absolute;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     bottom: 0px;
 }